# Python EinfÃ¼hrung
erster Teil

In [1]:
2 + 2

4

In [2]:
print ("hello. Moin")

hello. Moin

In [3]:
x = 2
y = 3

x + y

5

In [4]:
# string
text = "library carpentry"
# integer
number = 42
pi_value = 3.141

In [5]:
3 > 4

False

In [1]:
my_numbers = [1, 2, 3]

In [7]:
my_numbers[2]

3

In [2]:
my_numbers

[1, 2, 3]

In [3]:
len(my_numbers)

3

In [4]:
my_name = "Till"

In [5]:
len(my_name)

4

In [6]:
my_name.upper()

'TILL'

In [7]:
my_name_capital = my_name.upper()

In [9]:
my_name_capital.lower()

'till'

In [10]:
my_numbers = [1, 2, 3]

In [11]:
for number in my_numbers:
    print (number)

1
2
3

In [12]:
c

In [16]:
c

4

In [18]:
my_numbers = [1, 2, 3]
for number in my_numbers:
    number_plus_one = number + 1
    print(number_plus_one)

2
3
4

In [19]:
authors_and_books = {"Darwin" : "Species", "Jemison" : "Wind", "Austen" : "Stolz", "Hawking" : "nutshell"}

In [20]:
authors_and_books["Austen"]

'Stolz'

In [21]:
authors_and_books["Stolz"]

KeyError: 'Stolz'

In [22]:
authors_and_books = {"Darwin" : "Species",
                     "Jemison" : "Wind",
                     "Austen" : "Stolz", 
                     "Hawking" : "nutshell"}

In [23]:
def sub_function(a, b):
    result = a - b
    return result

In [24]:
sub_function(5, 2)

3

In [25]:
my_result = sub_function(777777777777777, 10000000000000000)

In [26]:
print(my_result)

-9222222222222223

In [27]:
my_numbers = [1, 2, 3]

In [32]:
temp = 7
if temp > 20:
    print("Ja. Es ist warm!") 
elif temp < 5:
    print("Nein, es ist kalt!")
else:
    print("Es ist mild.")

Es ist mild.